.form-expenses{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 5px black;
}

.form-expenses label{
    font-weight: bold;
}

.form-expenses button{
    width: 100%;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 3px 10px;
    margin-top: 3px;
}

.form-expenses input ,textarea ,select {
    display: block;
    width: 100%;
    padding: 3px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
  }

  .expenses-list{
    width: 60%;
    margin: auto;
    list-style-type: none;
   
  }
  .expenses-list span{
    padding: 3px;
  }

  