.wrapper{
    margin : auto;
    padding-top: 150px;
}

.form{
    padding: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px black;
}
.form label{
    font-weight: bold;
}

.form button{
    width: 100%;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 5px 20px;
}

.form input {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  
  .signup-login{
    width: fit-content;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: blue;
  }