.the-generics{
    font-weight: bold;
    font-size: 400%;
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
    color: white;
    background-color: grey;
}
.padding-top-generics{
    padding-top: 50px;
}